
<div class="row result-board">
    <div class="table-description">
        <span>ตารางคะแนน</span><span>อัพเดท 20 มิ.ย. 2559 15:10</span>
    </div>
    <div class="dropdown">
        <span type="button" id="menu-toggler2" data-toggle="dropdown">
            <i class="fa fa-chevron-down pull-xs-right result-board__league-dropdown--icon"></i>
            <span class="result-board__league-dropdown">
                <span class="">Premier League</span>
            </span>
        </span>
        <div class="dropdown-menu result-board__league-dropdown--list" role="menu" aria-labelledby="menu-toggler2" >
            <p>league result</p>
        </div>
    </div>
    <div class="result-board__league-result league-table">
        <table class ="table-sm league-table--box">
            <thead class="league-table__header">
            <tr>
                <th>Pos</th>
                <th>Teams</th>
                <th>P</th>
                <th>+/-</th>
                <th>Pts</th>
            </tr>
            </thead>
            <tbody>
            <tr class="rank-1 league-table clickable-row" data-href='#'>
                <td>1</td>
                <td class="league-table__team-names">เลสเตอร์ ซิตี้</td>
                <td>38</td>
                <td>32</td>
                <td>81</td>
            </tr>
            <tr class="rank-2 league-table clickable-row" data-href='#'>
                <td>2</td>
                <td class="league-table__team-names"><a href="#">อาร์เซนอล</a></td>
                <td>38</td>
                <td>29</td>
                <td>71</td>
            </tr>
            <tr class="rank-3 league-table clickable-row" data-href='#'>
                <td>3</td>
                <td class="league-table__team-names">ทอตนัมฮอตสเปอร์</td>
                <td>38</td>
                <td>34</td>
                <td>70</td>
            </tr>
            <tr class="rank-4 league-table clickable-row" data-href='#'>
                <td>4</td>
                <td class="league-table__team-names">แมนเชสเตอร์ซิตี</td>
                <td>38</td>
                <td>30</td>
                <td>66</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>5</td>
                <td class="league-table__team-names">แมนเชสเตอร์ ยูไนเต็ท</td>
                <td>38</td>
                <td>14</td>
                <td>66</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>6</td>
                <td class="league-table__team-names">เซาแทมป์ตัน</td>
                <td>38</td>
                <td>18</td>
                <td>63</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>7</td>
                <td class="league-table__team-names">เวสต์แฮมยูไนเต็ด</td>
                <td>38</td>
                <td>14</td>
                <td>62</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>8</td>
                <td class="league-table__team-names">ลิเวอร์พูล</td>
                <td>38</td>
                <td>13</td>
                <td>60</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>9</td>
                <td class="league-table__team-names">สโตกซิตี</td>
                <td>38</td>
                <td>-14</td>
                <td>51</td>
            </tr>
            <tr class="league-table clickable-row" data-href='#'>
                <td>10</td>
                <td class="league-table__team-names">เชลซี</td>
                <td>38</td>
                <td>6</td>
                <td>50</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
