<div class="row club-news m-t-2">
    <div class="club-news__header">
        <h5>Team News</h5>
        <p>ข่าวที่เกี่ยวข้อง</p>
    </div>
    <div class="club-news__content">
        <div class="club-news__content--image">
            <img src="{{ url('theme://images/club-news-demo.jpg') }}" alt="">
        </div>
        <div class="club-news__content--date">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 12 พ.ค. 2559 17:10
        </div>
        <div class="club-news__content--headline">
            <a href="#">HEADLINE</a>
        </div>
    </div>
    <div class="club-news__content">
        <div class="club-news__content--image">
            <img src="{{ url('theme://images/club-news-demo.jpg') }}" alt="">
        </div>
        <div class="club-news__content--date">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 12 พ.ค. 2559 17:10
        </div>
        <div class="club-news__content--headline">
            <a href="#">HEADLINE</a>
        </div>
    </div>
</div>
<div class="row club-other m-t-2">
    <div class="club-other__header">
        <h5>Other Teams</h5>
        <p>ทีมอื่นๆ</p>
    </div>
    <div class="club-other__list">
        <div class="club-other__list--name">
            <p>TEAM 1</p>
        </div>
        <div class="club-other__list--logo">
            <a href="#"><img src="{{ url('theme://images/other-club-logo-demo.png') }}" alt=""></a>
        </div>
    </div>
</div>
