<div class="club-players">
	<div class="club-players__header">
		<h5>Petr Cech</h5>
	</div>
	<div class="club-players__cover">
		<img src="{{ url('theme://images/club-cover-none.png') }}" class="img-fluid" alt="">
            <span class="personal__number-cover">
                <img src="{{ url('theme://images/personal-def.png') }}" class="img-circle personal__img" alt="">
                33
            </span>
	</div>
	<div>
		<div class="personal__list">
			<span class="personal__list--head">Real Name:</span>
			<span>Peter Cech</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">Position:</span>
			<span>GOALKEEPER</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">National:</span>
			<span>สาธารณรัฐเช็ก</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">Club:</span>
			<span>อาร์เซนอล</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">Signed Untill:</span>
			<span>2559 - 2559</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">Previous Club:</span>
			<span>-</span>
		</div>
		<div class="personal__list">
			<span class="personal__list--head">Packfile:</span>
                <span class="club-players__meta--info">
                    <span>AGE:</span>
                    <span>39</span>
                    <span>HT:</span>
                    <span>185</span>
                    <span>WT:</span>
                    <span>77</span>
                </span>
		</div>
	</div>
</div>
