.carousel-video {
    position: relative;

    &__article {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px;
    }

    p {
        position: absolute;
        top: 60%;
        width: 100%;
        font-size: 36px;
        letter-spacing: 3px;
        color: #fff;
        text-align: center;
    }
}
