<div class="row social social__border">
    <a href="#" class="col-xs-3 social__button social__button--facebook fa fa-2x fa-facebook"></a>
    <a href="#" class="col-xs-3 social__button social__button--twitter fa fa-2x fa-twitter"></a>
    <a href="#" class="col-xs-3 social__button social__button--google-plus fa fa-2x fa-google-plus"></a>
    <a href="#" class="col-xs-3 social__button social__button--line fa-2x icon-line"></a>
</div>
