<nav class="navbar navbar-fixed-top bg-faded nav-fix">
    <div class="nav-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="nav-top__logo" href="#">
                        <img src="{{ url('web/assets/web/img/fa-logo.png') }}" width="100" height="100">
                    </a>
                </div>
                <div class="col-md-8">
                    <a class="nav-top__league" href="#">
                        <img src="{{ url('web/assets/web/img/league-logo.png') }}" width="100" height="100">
                    </a>
                    <a class="nav-top__d1" href="#">
                        <img src="{{ url('web/assets/web/img/d1-logo.png') }}" width="100" height="100">
                    </a>
                    <a class="nav-top__d2" href="#">
                        <img src="{{ url('web/assets/web/img/d2-logo.png') }}" width="100" height="100">
                    </a>
                </div>
                <div class="col-md-2 nav-top__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
