{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-xs-12">
            {{ page.beer }}
            {{ page.header.beer }}
            {{ dump(page) }}
        </div>
    </div>
{% endblock %}
