{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="container">
		<div class="col-xs-12">
			{% include 'home/content.mobile.html.twig' %}

			{% include 'common/_match_previous.html.twig' %}
			{% include 'common/_match_next.html.twig' %}
			{% include 'common/_standing.html.twig' %}
		</div>
	</div>
{% endblock %}
