<div class="row news m-t-2">
    <div class="category__header">
        <div class="pull-xs-left">
            <h5>News</h5>
            <p>ข่าวและความเคลื่อนไหวล่าสุด</p>
        </div>
        <div class="pull-xs-right">
            <a href="#"><i class="fa fa-3x fa-angle-right text-xs-middle" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="news__content">
        <div class="col-xs-3 p-x-0">
            <div class="news__content--image">
                <img src="{{ url('theme://images/latest-demo-img.jpg') }}" alt="">
            </div>
        </div>
        <div class="col-xs-9">
            <div class="news__content--date">
                <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
            </div>
            <div class="news__content--headline"><a href="#">HEADLINE</a></div>
        </div>
    </div>
    <div class="news__content">
        <div class="col-xs-3 p-x-0">
            <div class="news__content--image">
                <img src="{{ url('theme://images/latest-demo-img.jpg') }}" alt="">
            </div>
        </div>
        <div class="col-xs-9">
            <div class="news__content--date">
                <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
            </div>
            <div class="news__content--headline"><a href="#">HEADLINE</a></div>
        </div>
    </div>
    <div class="text-xs-right p-y-1">
        <a href="#">ข่าวทั้งหมด <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>
