<div class="row carousel slide" id="featured" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="featured-content">
                <div class="featured-content__image">
                    <img src="{{ url('theme://images/featured-demo-img.png') }}" alt="DEMO 1">
                </div>
                <div class="featured-content__date"><i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00</div>
                <div class="featured-content__headline"><a href="#">HEADLINE</a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="featured-content">
                <div class="featured-content__image">
                    <img src="{{ url('theme://images/featured-demo-img-2.png') }}" alt="DEMO 1">
                </div>
                <div class="featured-content__date"><i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00</div>
                <div class="featured-content__headline"><a href="#">HEADLINE</a></div>
            </div>
        </div>
    </div>
    <div class="featured-content__separator"></div>
</div>
