<div class="footer">
	<div class="footer__sponsor">
		<div class="container">
			SPONSOR
		</div>
	</div>
	<div class="footer__sitemap">
		<div class="container">
			<ul>
				ทดสอบ
				<li>dddd</li>
				<li>1111</li>
			</ul>
			<ul>
				<li>dddd</li>
				<li>111</li>
			</ul>
			<ul>
				<li>dddd</li>
				<li>1111d</li>
			</ul>
			<ul>
				<li>dddd</li>
				<li>111</li>
			</ul>
			<ul>
				<li>fffff</li>
				<li>2222</li>
			</ul>
			<ul>
				<li>dddd</li>
				<li>6666</li>
			</ul>
			<ul>
				<li>ddddd</li>
				<li>555</li>
			</ul>
		</div>
	</div>
</div>