<div class="navbar thaileague-navbar">
	<div class="thaileague-navbar__main-menu">0</div>
	<div class="thaileague-navbar__sub-menu">0</div>
	<div class="thaileague-navbar__slider">SLIDER</div>
</div>
